/*Fonts*/
@font-face {
		font-family: "CuprumRegular";
		src: url("../fonts/Cuprum/CuprumRegular/CuprumRegular.woff") format("woff"),
			 url("../fonts/Cuprum/CuprumRegular/cuprum.woff2") format("woff2");
		font-style: normal;
		font-weight: normal;
	}

@font-face {
		font-family: "CuprumBold";
		src: url("../fonts/Cuprum/CuprumBold/CuprumBold.woff") format("woff"),
			 url("../fonts/Cuprum/CuprumBold/cuprumbold.woff2") format("woff2");
		font-style: normal;
		font-weight: bold;
	}

@font-face {
		font-family: "CuprumItalic";
		src: url("../fonts/Cuprum/CuprumItalic/CuprumItalic.woff") format("woff"),
			 url("../fonts/Cuprum/CuprumItalic/cuprumitalic.woff2") format("woff2");
		font-style: normal;
		font-weight: bold;
	}

@font-face {
		font-family: "PT Sans";
		src: url("../fonts/PT Sans/PT Sans Regular/ptsans.woff") format("woff"),
			 url("../fonts/PT Sans/PT Sans Regular/ptsans.woff2") format("woff2");
		font-style: normal;
		font-weight: normal;
	}

@font-face {
		font-family: "PT Sans Bold";
		src: url("../fonts/PT Sans/PT Sans Bold/ptsansbold.woff") format("woff"),
			 url("../fonts/PT Sans/PT Sans Bold/ptsansbold.woff2") format("woff2");
		font-style: normal;
		font-weight: normal;
	}

*,*::before,*::after {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

body {
	min-width: 960px;
}

/*Стили для скрытых заголовков*/
.visually-hidden {
	position: absolute;
  	width: 1px;
  	height: 1px;
 	margin: -1px;
  	border: 0;
  	padding: 0;
  	clip: rect(0 0 0 0);
  	overflow: hidden;
}



	/*Header*/

.main-header {
	background-color: #f3f7f9;
	border-bottom: 1px solid transparent;

	margin-bottom: 60px;
	font-family: "CuprumRegular", "Arial", sans-serif;																																																																																																																																																														Arial', sans-serif;
}

.header-top-wrapper {
	width: 100%;
	margin-bottom: 45px;

	background-color: #293449;

	font-size: 17px;
}

.main-header-top {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	width: 940px;
	min-height: 42px;

	margin: 0 auto;
}

.main-header-logo {
	display: block;
	height: 42px;
}

.logo-hover, .logo-active {
	display: none;
}

.main-header-logo:hover .logo-link {
	display: none;
}


.main-header-logo:hover .logo-hover {
	display: block;
}

.main-header-logo:active .logo-hover {
	display: none;
}

.main-header-logo:active .logo-active {
	display: block;
}

.user-actions-list {
	color: #fff;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	width: 720px;
}

.search-field {
	width: 270px;
	height: 42px;

	padding-left: 50px;

	background-color: #293449;
	color: #fff;

	background-image: url("../img/index-img/header-images/decorative-icons/icon-search.svg");
	background-repeat: no-repeat;
	background-position: 17px, 50%;
}

/*Класс big-btn сделан для того, чтобы когда список переполнялся новыми пунктами,
.big-btn добывлялся к елементу списка, который стоит ниже поля "Поиск"*/

.big-btn {
	width: 270px;
}

/*Довбавляю placeholder цвет текста*/
.search-field::-webkit-input-placeholder {
	color: #fff
}

.search-field:hover {
	background-color: #212a3a;
	background-image: url("../img/index-img/header-images/decorative-icons/icon-search-hover.svg");
}

.search-field:focus {
	background-color: #fff;
	color: #000;
	background-image: url("../img/index-img/header-images/decorative-icons/icon-search-focus.svg");
}

.header-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;

	width: 150px;
	height: 42px;
	
	border: 0;
	padding-left: 17px;

	background-color: #293449;
	color: #fff;
}

.header-btn:hover {
	background-color: #212a3a;
}

.header-btn:active {
	background-color: #161d29;
	color: #8b8e94;
}

.bookmark {
	background-image: url("../img/index-img/header-images/decorative-icons/icon-bookmark.svg");
	background-repeat: no-repeat;
	background-position: 17px 50%;	
}

.bookmark:hover {
	background-image: url("../img/index-img/header-images/decorative-icons/icon-bookmark-hover.svg");	
}

.bookmark:active {
	background-image: url("../img/index-img/header-images/decorative-icons/icon-bookmark.svg");
}

.basket {
	background-image: url("../img/index-img/header-images/decorative-icons/icon-cart.svg");
	background-repeat: no-repeat;
	background-position: 17px 50%;	
}

.basket:hover {
	background-image: url("../img/index-img/header-images/decorative-icons/icon-cart-hover.svg");
}

.basket:active {
	background-image: url("../img/index-img/header-images/decorative-icons/icon-cart.svg");
}

button.changed-value-item {
	background-color: #ee3643;
	background-image: url("../img/catalog-img/header-images/decorative-icons/icon-cart.svg");
}

button.changed-value-item:hover {
	background-color: #ca2c37;
}

.main-header-checkout_btn {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 150px;
	height: 42px;

	background-color: #63a63e;
	color: #fff;
}

.main-header-checkout_btn:hover {
	background-color: #5fbb2d;
}

.main-header-checkout_btn:active {
	background-color: #518534;
	color: #8b8e94;
}

.main-header-short-inform {
	display: flex;
	justify-content: space-between;

	width: 940px;

	margin: 0 auto;
	margin-bottom: 42px;
}

.short-market-desc {
	color: #ee3643;
	font-size: 16px;
	font-family: "CuprumItalic", "Arial", sans-serif;
	line-height: 22px;

	margin: 0;
	margin-left: 52px;
	padding-top: 5px;
}

.short-market-desc span {
	display: block;
}

.address-block {
	width: 270px;
}

.address-block a {
	display: block;

	width: 270px;
	height: 45px;

	margin-bottom: 10px;

	border: 2px solid #fff;

	color: #ee3643;
	font-size: 21px;
	text-align: center;
	line-height: 45px;

	background-image: url("../img/index-img/header-images/decorative-icons/icon-phone.svg");
	background-repeat: no-repeat;
	background-position: 13px, 50%;
}

.address-block address {
	text-align: center;
	font-size: 14px;
	color: #32425c;
	font-style: normal;
}

.login-btn-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	
	width: 280px;

	color: #32425c;
}

.login-btn {
	margin-bottom: 10px;
}

.login-btn a {
	color: #000;
}

.enter-btn {
	display: flex;
	align-items: center;
	position: relative;
	width: 120px;
	height: 46px;

	padding-left: 46px;
	padding-right: 0;

	font-size: 21px;

	background-color: #fff;
	background-image: url("../img/index-img/header-images/decorative-icons/icon-login-link.svg");
	background-repeat: no-repeat;
	background-position: 15px 50%;	

}

.enter-btn:hover {
	color: #ee3643;
	background-image: url("../img/index-img/header-images/decorative-icons/icon-login-hover.svg");
}

.enter-btn:active {
	color: #c5c5c5;
	background-image: url("../img/index-img/header-images/decorative-icons/icon-login-link.svg");
}

.register-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 150px;
	height: 46px;
	
	font-size: 21px;

	background-color: #fff;
}

.register-btn:hover {
	color: #ee3643;
}

.register-btn:active {
	color: #c5c5c5;
}

.main-header-nav {
	display: flex;
	justify-content: center;
	width: 940px;

	margin: 0 auto;
	margin-bottom: 60px;

	background-color: #32425c;
	border-bottom: 5px solid #293449;

	padding: 0 20px;
}

.main-header-nav_list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}

.main-header-nav-item {
	/*padding: 0 30px;*/
}

.main-header-nav-item a {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 124px;
	height: 55px;

	font-size: 17px;
	color: #fff;
}

.main-header-nav-item a::before {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;

	z-index: -1;
	width: 100%;
	height: 100%;
}

.main-header-nav_list a:hover {
	background-color: #293449;
}

.main-header-nav_list a:active {
	background-color: #1d2739;
	color: #a8abaf;
}
		/*End of Header*/

		/*Main*/
.main-wrapper {
	width: 940px;
	margin: 0 auto;
}

.prewie-catalog-block {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;

	margin-bottom: 53px;
	font-family: "CuprumRegular", "Arial", sans-serif;
}

.prewie-card h3 {
	font-family: "CuprumBold", "Arial", sans-serif;
	color: #fff;
	font-size: 24px;

	margin: 20px 22px 15px;
	padding: 0;
}

.prewie-card a{
	display: flex;
	justify-content: center;
	align-items: center;

	width: 135px;
	height: 38px;

	margin: 0 22px 22px;

	border-radius: 2px;

	font-size: 14px;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
}

.flex-wrapper-top {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}

.flex-top-item {
	margin-bottom: 20px;
}

.flex-top-item:nth-child(3n) {
	margin-right: 0;
}

.flex-bottom-item {
	margin-bottom: 20px;
}

.flex-bottom-item:last-child {
	margin-bottom: 0;
}

.flex-wrapper-bottom {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.additive-flex-part {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}

.materials {
	position: relative;
	width: 300px;
	height: 123px;

	margin-right: 20px;

	border: 1px solid #ffbf47;
	background-color: #ffbf47;

	background-image: url("../img/index-img/content-images/prewie-catalog-images/icon-1.png");
	background-repeat: no-repeat;
	background-position: bottom 27px right 43px;
}

.materials a {
	background-color: #e5ac40;
}

.materials a:hover {
	background-color: #cccccc;
}

.materials a:active {
	background-color: #b2b2b2;
}

.new::before {
	content: "";
	position: absolute;
	right: 0;
	top: 0;

	width: 60px;
	height: 60px;

	background-image: url("../img/index-img/content-images/prewie-catalog-images/new-flag.png");
	background-repeat: no-repeat;
}

.instruments {
	position: relative;
	width: 300px;
	height: 123px;

	margin-right: 20px;

	border: 1px solid #3bbce3;
	background-color: #3bbce3;
	background-image: url("../img/index-img/content-images/prewie-catalog-images/icon-2.png");
	background-repeat: no-repeat;
	background-position: bottom 29px right 27px;
}

.instruments a {
	background-color: #35a9cc;
}

.instruments a:hover {
	background-color: #cccccc;
}

.instruments a:active {
	background-color: #b2b2b2;
}

.technics {
	position: relative;
	width: 300px;
	height: 123px;

	border: 1px solid #dc91d8;
	background-color: #dc91d8;
	background-image: url("../img/index-img/content-images/prewie-catalog-images/icon-3.png");
	background-repeat: no-repeat;
	background-position: bottom 30px right 31px;
}

.technics a {
	background-color: #c682c2;
}

.technics a:hover {
	background-color: #cccccc;
}

.technics a:active {
	background-color: #b2b2b2;
}

.discounts {
	position: relative;
	width: 300px;
	height: 123px;

	border: 1px solid #8ed78f;
	background-color: #8ed78f;
	background-image: url("../img/index-img/content-images/prewie-catalog-images/icon-4.png");
	background-repeat: no-repeat;
	background-position: bottom 25px right 45px;
}

.discounts a {
	background-color: #80c180
}

.discounts a:hover {
	background-color: #cccccc;
}

.discounts a:active {
	background-color: #b2b2b2;
}

.delivery {
	position: relative;
	width: 300px;
	height: 123px;

	border: 1px solid #ffc047;
	background-color: #ffc047;
	background-image: url("../img/index-img/content-images/prewie-catalog-images/icon-5.png");
	background-repeat: no-repeat;
	background-position: bottom 28px right 31px;
}

.delivery a {
	background-color: #e5ac40;
}

.delivery a:hover {
	background-color: #cccccc;
}

.delivery a:active {
	background-color: #b2b2b2;
}

.slaider {
	width: 620px;
	height: auto;

	background-color: #32425c;

	margin-right: 20px;
}

.slaids {
	position: relative;

	min-height: 266px;

	padding-top: 20px;
}

.slaids h2 {
	font-size: 36px;
	font-family: "CuprumBold", "Arial", sans-serif;
	text-transform: uppercase;

	margin: 0;
	padding-left: 26px;
}

.slaide-hidden {
	display: none;
}

.slaide-1 {
	position: relative;

	background-image: url("../img/index-img/content-images/slaider/slaider-img2.jpg");
	background-repeat: no-repeat;
	background-color: #708189;
	color: #fff;
}

.slaide-2 {
	background-image: url("../img/index-img/content-images/slaider/slaider-img1.jpg");
	background-repeat: no-repeat;
	background-color: #708189;
	color: #fff;
}

.slaider-btn {
	position: absolute;

	display: -webkit-box;

	display: -ms-flexbox;

	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;

	width: 40px;
	height: 40px;

	cursor: pointer;

	background-color: rgba(255,255,255, 0);

	top: 50%;
	margin-top: -20px;
	padding: 0;
}

.slaider-btn::before {
	content: "";
	display: block;

	width: 29px;
	height: 29px;

	-webkit-transform: rotate(45deg);

	    -ms-transform: rotate(45deg);

	        transform: rotate(45deg);
}

.back-btn {
	margin-left: 25px;
}

.back-btn::before {
	border-left: 3px solid #fff;
	border-bottom: 3px solid #fff;
}

.next-btn {
	right: 20px;
}

.next-btn::before {
	border-right: 3px solid #fff;
	border-top: 3px solid #fff;
}

.slaider-nav {
	position: absolute;
	width: 100px;
	left: 50%;
	margin-left: -50px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;

	bottom: 40px;
}

.slaider-nav li {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 10px;
	height: 10px;

	background-color: #fff;
	border-radius: 50%;

	margin-right: 10px;
}

.slaider-nav li:last-child {
	margin-right: 0;
}

.slaider-nav-active::before {
	content: "";
	display: block;

	width: 6px;
	height: 6px;

	border-radius: 50%;
	background-color: #ee3643;
}

.slaider p {
	font-size: 18px;
	font-weight: normal;

	padding-left: 26px;
	margin: 0;
}

.slaider a {
	display: block;
	position: absolute;
	left: 25px;
	bottom: 22px;

	width: 195px;
	height: 38px;

	background-color: #ee3643;
	border-radius: 2px;
	color: #fff;
	font-size: 17px;
	text-align: center;
	line-height: 38px;
}

.slaider a:hover {
	background-color: #ca2c37;
}

.slaider a:active {
	background-color: #ba2732;
}

/*Popular-products*/

.link_heading-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;

	background-color: #f9f5f0;
	font-family: "CuprumRegular", "Arial", sans-serif;
}

.link_heading-wrapper h2 {
	width: 600px;
	font-size: 30px;
	font-weight: normal;
	color: #32425c;
	text-transform: uppercase;

	margin-left: 30px;
	margin-bottom: 28px;
	margin-top: 28px;
}

.link_heading-wrapper a {
	display: flex;
	-ms-flex-item-align: center;
	    -ms-grid-row-align: center;
	    align-self: center;
	    justify-content: center;
	    align-items: center;

	width: 252px;
	height: 38px;

	margin-right: 25px;

	background-color: #ee3643;
	border-radius: 2px;

	color: #fff;
	font-size: 14px;
	text-transform: uppercase;
}

.link_heading-wrapper a:hover {
	background-color: #ca2c37;
}

.popular-products-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;

	margin-top: 18px;
	font-family: "PT Sans Bold", "Arial", sans-serif; 
}

.hover-block-wrapper {
	height: 170px;
}

.popular-list-item {
	position: relative;
	width: 220px;
	min-height: 318px;

	margin-right: 20px;
	margin-bottom: 20px;

	text-align: center;

	border: 2px solid #eaeaea;
}

.popular-list-item:nth-child(4n) {
	margin-right: 0;
}

.popular-list-item img {
	width: 100%;
}

/*При наведении на елемент списка*/
.popular-list-item:hover {
	-webkit-box-shadow: 0 0 25px rgba(41,52,73, 0.5);
	        box-shadow: 0 0 25px rgba(41,52,73, 0.5);
	border: 2px solid #fff;
}

.user-btns {
	display: none;
}

.popular-list-item:hover .user-btns {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0;
	width: 100%;
	height: 175px;
}

.popular-list-item:hover img {
	display: none;
}

.user-btns a {
	display: flex;
	justify-content: center;
	align-items: center;
}

.buy-btn {
	width: 135px;
	height: 40px;

	margin-bottom: 7px;
	margin-top: 45px;

	background-color: #63a63e;
	color: #fff;
	border-radius: 3px;
	-webkit-box-shadow: 0 3px 0px rgba(54,115,21, 1),
	3px 3px 15px rgba(0,0,0, 0.25);
	        box-shadow: 0 3px 0px rgba(54,115,21, 1),
	3px 3px 15px rgba(0,0,0, 0.25);

	font-size: 14px;
	text-transform: uppercase;
	font-family: "CuprumRegular", "Arial", sans-serif;

	background-image: url("../img/index-img/content-images/popular-products-images/icon-cart-link.svg");
	background-repeat: no-repeat;
	background-position: 12px, 50%;
}

.buy-btn:hover {
	background-color: #5fbb2d;
	background-image: url("../img/index-img/content-images/popular-products-images/icon-cart-hover.svg");
}

.buy-btn:active {
	background-color: #518534;
}

.bookmarks-btn {
	width: 135px;
	height: 40px;

	background-color: #fff;
	color: #32425c;
	border: 3px solid #63a63e;
	border-radius: 3px;

	font-size: 14px;
	text-transform: uppercase;
	font-family: "CuprumRegular", "Arial", sans-serif;
}

.bookmarks-btn:hover {
	border-color: #32425c;
}

.bookmarks-btn:active {
	border-color: #c1c6ce;
	color: #c1c6ce;
}

/* */

.perforator-name {
	margin: 0;
	font-size: 18px;
	margin-top: 8px;
	padding: 0 20px;
}

.perforator-name a {
	color: #000;
}

.price-through_line {
	display: flex;
	align-items: center;

	font-size: 17px;

	width: 140px;
	height: 40px;

	margin: 0 auto 0;
	
	padding-left: 36px;
	color: #a9a9a9;
	text-decoration: line-through;
}

.stock-price {
	display: flex;
	align-items: center;
	position: relative;

	width: 122px;
	height: 39px;

	left: 42px;

	font-size: 17px;

	background-color: #ee3643;
	color: #fff;
	border-radius: 3px 0 0 3px;

	padding-left: 36px;
}

.no-discounts-item {
	top: 40px;
}

.stock-price::before {
	content: "";
	position: absolute;
	display: block;
	left: 100%;
	top: 0;
	
	width: 0;
	height: 0;

	border-top: 19px solid transparent;
	border-left: 19px solid #ee3643;
	border-bottom: 20px solid transparent;
}

.popular-list-item_new::before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;

	width: 60px;
	height: 60px;

	background-image: url("../img/index-img/content-images/prewie-catalog-images/new-flag.png");
	background-repeat: no-repeat;
}

.popular-companies-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;

	margin-top: 20px;
	margin-bottom: 65px;
}

.popular-companies-item {
	margin-right: 20px;
	margin-bottom: 20px;
}

.popular-companies-item:nth-child(4n) {
	margin-right: 0;
}

.popular-companies-item a{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;

	width: 220px;
	height: 145px;

	border: 1px solid #e5e5e5;
}

.popular-companies-item a:hover {
	-webkit-box-shadow: 0 0 25px rgba(41,52,73, 0.5);
	        box-shadow: 0 0 25px rgba(41,52,73, 0.5);
	border: 1px solid #fff;
}

/*Services*/
.services {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;

	font-size: 13px;
	font-family: "CuprumRegular", "Arial", sans-serif;

	background-color: #f4f8f9;
}

.service-content-wrap {
	width: 940px;
	margin: 0 auto;
}

.services h2 {
	margin-top: 63px;
	font-size: 30px;
	font-weight: normal;
	text-transform: uppercase;
}

.services p {
	line-height: 24px;
	font-size: 13px;
	font-family: "PT Sans", "Arial", sans-serif;
	width: 415px;
}

.sevice-list-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: relative;

	width: 960px;

	min-height: 335px;
}

.sevices-list {
	margin-top: 55px;

	font-size: 21px;
	font-family: "CuprumRegular","Arial", sans-serif;

	color: #fff;
}

.sevices-list a {
	display: flex;
	align-items: center;

	width: 240px;
	height: 62px;

	padding-left: 22px;

	background-color: #32425c;
	color: #fff;

	border-top: 1px solid #405069;
	border-bottom: 1px solid #293449;
}

a.services-item-active {
	background-color: #fff;
	border: none;
	color: #32425c;
}

.sevices-list a:hover {
	background-color: #fff;
	border: none;
	color: #32425c;
}

.service-description-wrapper {
	-webkit-box-flex: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;

	padding-top: 30px;
	padding-left: 80px;
	padding-right: 10px;
}

.block-hidden {
	display: none;
}

.delivery-desc {
	background-image: url("../img/index-img/content-images/service-images/delivery-img.png");
	background-repeat: no-repeat;
	background-position: 92% 75px;
}

.garanty {
	background-image: url("../img/index-img/content-images/service-images/garanty-img.png");
	background-repeat: no-repeat;
	background-position: 97% 52px;
}

.credit {
	background-image: url("../img/index-img/content-images/service-images/credit-img.png");
	background-repeat: no-repeat;
	background-position: 96% 50px;
}

.credit dl {
	margin-bottom: 26px;
}

.send-request-btn {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 195px;
	height: 38px;

	background-color: #ff5357;
	color: #fff;
	border-radius: 3px;

	font-family: "CuprumRegular","Arial", sans-serif;
	font-size: 14px;
	text-transform: uppercase;
}

.services-description dt {
	font-size: 36px;
	font-weight: normal;
	color: #32425c;
	text-transform: uppercase;

	margin-top: 18px;
	margin-bottom: 25px;
}

.services-description dd {
	width: 275px;

	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 13px;
	color: #32425c;
	line-height: 24px;
}

.garanty dd {
	width: 375px;
}

.credit dd {
	width: 280px;
}

/*about-company*/
.about-content-wrap {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;

	width: 940px;
	margin: 0 auto 86px;
	font-family: "CuprumRegular", "Arial", sans-serif;
}

.about-company-wrapper {
	padding-top: 55px;
}

.about-company-wrapper h2 {
	font-size: 30px;
	font-weight: normal;
	text-transform: uppercase;
}

.company-advanteges p {
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 13px;
	line-height: 23px;
	margin-bottom: 28px;
	width: 550px;
}

.company-advanteges p:nth-child(3) {
	width: 420px;
}

.company-advanteges p:last-of-type {
	margin-bottom: 20px;
}

.company-list {
	margin-bottom: 35px;
}

.company-list li {
	position: relative;

	padding-left: 35px;
	margin-bottom: 20px;

	font-size: 18px;
}

.company-list li:last-child {
	margin-bottom: 0;
}

.company-list li::before {
	content: "";
	position: absolute;

	width: 25px;
	height: 2px;

	background-image: url("../img/index-img/content-images/service-images/list-line.png");
	left: 0;
	top: 50%;
	margin-top: -1px;
}

.company-advanteges a {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 220px;
	height: 40px;

	background-color: #ee3643;
	color: #fff;

	font-size: 14px;
	text-transform: uppercase;
}

.company-advanteges a:hover {
	background-color: #ca2c37;
}

.contacts p {
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 13px;
	line-height: 22px;
	width: 200px;
}

.contacts figure {
	position: relative;
	margin: 35px 0; 
}

.map-link {
	display: block;
}

.write-us-btn {
	display: block;
	width: 300px;
	height: 40px;

	background-color: #ee3643;
	color: #fff;

	font-size: 14px;
	text-transform: uppercase;
	text-align: center;
	line-height: 40px;
}

.write-us-btn:hover {
	background-color: #ca2c37;
}


		/*End of Main*/

		/*Footer*/

.main-footer {
	background-color: #32425c;
	font-family: "CuprumRegular", "Arial", sans-serif;
}

.main-footer .logo-wrapper {
	margin-bottom: 28px;
	height: 68px;
}

.footer-top-part{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;

	width: 940px;
	min-height: 190px;

	margin: 0 auto;
	padding-bottom: 43px;

	background-color: #32425c;
}

.footer-top-part address, .footer-top-part a{
	color: #fff;
	font-size: 18px;
}

.footer-top-part address {
	font-style: normal;
	line-height: 22px;
}

.footer-navs-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;

	margin-top: 38px;
	font-size: 18px;
}

.footer-main-nav {
	margin-bottom: 25px;
}

.footer-main-nav-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	width: 565px;
}

.footer-main-nav-item {
	margin-right: 60px;
	margin-bottom: 10px;
}

.footer-main-nav-item:nth-child(n+5) {
	margin-right: 0;
	margin-left: 60px;
}

.footer-main-nav-item:nth-child(5) {
	margin-left: 0;
}

.footer-main-nav-list a:hover {
	text-decoration: underline;
}

.footer-main-nav-list a:active {
	color: #a4abb4;
}

.footer-additional-nav {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
}

.footer-additional-nav-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;

	width: 525px;

	-webkit-box-pack: end;

	    -ms-flex-pack: end;

	        justify-content: flex-end;
}

.footer-additional-nav-list a {
	color: #ffd180;
}

.footer-additional-item {
	margin-right: 60px;
	margin-bottom: 10px;
}

.footer-additional-item:nth-child(n+4) {
	margin-left: 60px;
	margin-right: 0;
}

.footer-additional-item:nth-child(4) {
	margin-right: 0;
	margin-left: 0;
}

.footer-additional-nav-list a:hover {
	text-decoration: underline;
}

.footer-additional-nav-list a:active {
	color: #ad956f;
}

.footer-copyright {
	background-color: #293449;
}

.footer-copyright-content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	width: 940px;
	margin: 0 auto;

	margin: 0 auto;
	padding-top: 40px;
	padding-bottom: 35px;
}

.footer-copyright p {
	margin: 0;
	margin-right: 165px;

	color: #fff;
}

.footer-copyright ul.footer-network-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;

	width: 135px;
	margin-right: 115px;
}

.footer-network-item {
	margin-bottom: 10px;
}

.footer-network-item a{
	display: block;
	width: 40px;
	height: 40px;

	margin-right: 5px;

	border-radius: 50%;
}

.footer-network-item:last-child {
	margin-right: 0;
}

.vk {
	background-image: url("../img/index-img/footer-images/vk-icon.svg");
	background-repeat: no-repeat;
	background-position: center center;
}

.vk:hover {
	background-image: url("../img/index-img/footer-images/hover-network/vk-icon-hover.svg");
	background-repeat: no-repeat;
	background-position: center center;
}

.facebook {
	background-image: url("../img/index-img/footer-images/fb-icon.svg");
	background-repeat: no-repeat;
	background-position: center center;
}

.facebook:hover {
	background-image: url("../img/index-img/footer-images/hover-network/fb-icon-hover.svg");
	background-repeat: no-repeat;
	background-position: center center;
}

.instagram {
	background-image: url("../img/index-img/footer-images/insta-icon.svg");
	background-repeat: no-repeat;
	background-position: center center;
}

.instagram:hover {
	background-image: url("../img/index-img/footer-images/hover-network/insta-icon-hover.svg");
	background-repeat: no-repeat;
	background-position: center center;
}

.creators-communication {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.creators-communication li {
	margin-right: 53px;
	width: 136px;
}

.creators-communication li:last-child {
	margin-right: 0;
	width: 98px;
}

.creators-communication p {
	margin: 0;
}

.creators-communication a {
	color: #ffd180;
}

.creators-communication a:active {
	color: #ee3643;
}


		/*End of Footer*/

								/*Catalog.html*/

		/*Header*/
		
.main-header-catalog {
	background-color: #f3f7f9;
	border-bottom: 1px solid transparent;

	font-family: "CuprumRegular", "Arial", sans-serif;

	margin-bottom: 18px;
}

.main-header_short-inform {
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;

	width: 940px;

	margin: 0 auto;
}

.main-header-catalog .short-market-desc {
	margin-right: 25px;
}

.short-market-desc span {
	display: block;
}

.modified {
	background-color: #ee3643;
}

.modified:hover {
	background-color: #ca2c37;
	color: #fff;
}

.modified:active {
	background-color: #ba2732;
	color: #fff;
}

.user-block {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}

.user-profile {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	width: 300px;
	height: 45px;

	margin-bottom: 10px;

	background-color: #fff;
}

.user-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
}

.user-profile:hover .user-icon {
	background-image: url("../img/catalog-img/header-images/decorative-icons/icon-user-hover.svg");
}

.authorization-block {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;

	padding-left: 13px;
}

.deauthorization-block {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
}

.user-list-item:active .user-icon {
	background-image: url("../img/catalog-img/header-images/decorative-icons/icon-user.svg");
}

.user-profile:hover .logout-icon {
	background-image: url("../img/catalog-img/header-images/decorative-icons/icon-logout-hover.svg");
}

.user-list-item:active .logout-icon {
	background-image: url("../img/catalog-img/header-images/decorative-icons/icon-logout.svg");
}

.user-name:active {
	color: #cacaca;
}

.user-name {
	display: block;

	margin-right: 40px;
	margin-left: 15px;

	color: #000;

	font-size: 21px;
	font-weight: normal;
}

.user-icon {
	display: block;
	-ms-flex-item-align: center;
	    -ms-grid-row-align: center;
	    align-self: center;

	width: 20px;
	height: 20px;

	background-image: url("../img/catalog-img/header-images/decorative-icons/icon-user.svg");
	background-repeat: no-repeat;
}

.logout-icon {
	display: block;

	width: 20px;
	height: 20px;

	background-image: url("../img/catalog-img/header-images/decorative-icons/icon-logout.svg");
	background-repeat: no-repeat;
}

.user-links-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;

	width: 300px;
}

.user-links-item {
	margin-right: 15px;
	margin-left: 16px;
}

.item-decor-circle {
	position: relative;
	padding-left: 16px;
	margin-left: 0;
}

.item-decor-circle::before {
	content: "";
	position: absolute;
	left: 0;

	width: 4px;
	height: 4px;

	top: 50%;
	margin-top: -2px;

	background-color: #32425c;
	border-radius: 50%;
}

.user-links-item a {
	color: #000;
}

.user-links-item a:hover {
	color: #ee3643;
}

.user-links-item a:active {
	color: #c5cad0;
}

		/*End of Header*/

		/*Main*/

.catalog-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;

	width: 940px;
	margin: 0 auto;
}

.breadcrumbs {
	-webkit-box-ordinal-group: 0;
	    -ms-flex-order: -1;
	        order: -1;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex; 
	flex-wrap: wrap;

	font-family: "PT Sans", "Arial", sans-serif;
}

.breadcrumbs-item {
	margin-right: 16px;
}

.breadcrumbs-item:first-child{
	display: flex;
	align-items: center;
}

.breadcrumbs-home-link {
	display: block;
	width: 14px;
	height: 18px;

	background-image: url("../img/catalog-img/content-images/bread-crumbs-nav-img/icon-home.svg");
	background-repeat: no-repeat;
	background-position: 0 50%;
}

.breadcrumbs-item:last-child {
	margin-right: 0;
}

.breadcrumbs-item a {
	color: #000;
	font-size: 13px;
	text-transform: uppercase;
}

.breadcrumbs-decor-arrow {
	position: relative;

	padding-right: 20px;
}

.breadcrumbs-decor-arrow::before {
	content: "";
	display: block;

	position: absolute;
	right: 0;


	width: 10px;
	height: 10px;

	top: 50%;
	margin-top: -5px;

	border-top: 1px solid #c6cad2;
	border-right: 1px solid #c6cad2;

	-webkit-transform: rotate(45deg);

	    -ms-transform: rotate(45deg);

	        transform: rotate(45deg);
}

.filtrs-block {
	width: 220px;

	font-family: "PT Sans", "Arial", sans-serif;
}

.filtrs-block h2{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;

	height: 38px;

	font-size: 13px;
	font-weight: normal;
	color: #000;
	text-transform: uppercase;

	background-color: #f7f3ec;

	padding-left: 20px;
	margin-top: 0;
	margin-bottom: 18px;
}

.forms {
	border-top: 1px solid #e5e5e5;
	padding-top: 20px;

	padding-bottom: 21px;
}

.filtrs-block .forms:first-of-type {
	padding-bottom: 25px;
	padding-top: 0;

	border-top: none;
}

.filtrs-block .forms:last-of-type {
	padding-bottom: 0;
	margin-bottom: 74px;
}

.filtr-labels {
	display: block;

	margin-bottom: 18px;

	font-weight: bold;
	font-size: 17px;
	text-transform: uppercase;
	font-family: "PT Sans Bold", "Arial", sans-serif;
}

.price-filtr-field {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;

	background-color: #f7f3ec;
	border-radius: 6px;
	height: 80px;

	margin-bottom: 10px;
}

.price-filtr-range {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	align-items: center;

	width: 180px;
	height: 22px;
}

.scale	{
	position: absolute;
	display: flex;

	width: 180px;
	height: 2px;

	background-color: #d7dcde;

	z-index: 1;
}

.scale::before {
	content: "";
	position: absolute;

	width: 160px;
	height: 2px;

	border-radius: 10px;

	background-color: #00ca74;
}

.slider {
	width: 20px;
	height: 22px;

	z-index: 2;
	
	cursor: pointer;
	border-radius: 50%;
	background-color: #fff;
	background-image: url("../img/catalog-img/content-images/catalog/decorative-icons/filter-button.svg");
	background-repeat: no-repeat;
}

.slider-1 {
	margin-right: 120px;
}

.price-inputs {
	position: relative;

	display: -webkit-box;

	display: -ms-flexbox;

	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.price-inputs::before {
	content: "";
	display: block;

	position: absolute;
	right: 50%;
	margin-right: -5px;
	top: 50%;
	margin-top: -0.5px;

	width: 10px;
	height: 1px;

	background-color: #000;
}

.filtrs-form input[type="text"] {
	width: 95px;
	height: 38px;

	text-align: center;

	background-color: #f7f3ec;
	border-radius: 3px;

	margin-right: 30px; /*Для IE*/
}

.filtrs-form input[type="text"]:last-child {
	margin-right: 0;
}

.manufacturers-list li {
	margin-bottom: 17px;
}

.manufacturers-list li:last-child {
	margin-bottom: 0;
}

.firm-name {
	position: relative;
	display: flex;
	align-items: center;

	height: 23px;

	padding-left: 35px;
	text-transform: uppercase;
}

.firm-name::before {
	content: "";
	display: block;
	position: absolute;

	width: 27px;
	height: 23px;
	left: 0;

	background-image: url("../img/catalog-img/content-images/catalog/decorative-icons/checkbox-off.svg");
	background-repeat: no-repeat;
}

input[type="checkbox"]:checked + .firm-name::before {
	background-image: url("../img/catalog-img/content-images/catalog/decorative-icons/checkbox-on.svg");
}

input[type="checkbox"]:focus + .firm-name::before {
	border-color: #663d15;
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
}

input[type="checkbox"]:hover + .firm-name::before {
	background-image: url("../img/catalog-img/content-images/catalog/decorative-icons/checkbox-off-hover.svg");
}

input[type="checkbox"]:checked:hover + .firm-name::before {
	background-image: url("../img/catalog-img/content-images/catalog/decorative-icons/checkbox-on-hover.svg");
}

input[type="checkbox"]checked:disabled + .firm-name::before {
	background-image: url("../img/catalog-img/content-images/catalog/decorative-icons/checkbox-on-disabled.svg");
}

input[type="checkbox"]:disabled + .firm-name::before {
	background-image: url("../img/catalog-img/content-images/catalog/decorative-icons/checkbox-off-disabled.svg");
}

.acumulater-type-list li {
	margin-bottom: 16px;
}

.acumulater-type-list li:last-child {
	margin-bottom: 0;
}

.radio-label {
	position: relative;
	display: flex;
	align-items: center;
	
	height: 25px;
	
	padding-left: 35px;

	text-transform: uppercase;
}

.radio-label::before {
	content: "";
	display: block;
	position: absolute;
	left: 0;

	width: 25px;
	height: 25px;

	background-image: url("../img/catalog-img/content-images/catalog/decorative-icons/radio-off.svg");
	background-repeat: no-repeat;	
}

input[type="radio"]:checked + .radio-label::before {
	background-image: url("../img/catalog-img/content-images/catalog/decorative-icons/radio-on.svg");
}

input[type="radio"]:checked:hover + .radio-label::before {
	background-image: url("../img/catalog-img/content-images/catalog/decorative-icons/radio-on-hover.svg");
}

input[type="radio"]:hover + .radio-label::before {
	background-image: url("../img/catalog-img/content-images/catalog/decorative-icons/radio-off-hover.svg");
}

input[type="radio"]:checked:disabled + .radio-label::before {
	background-image: url("../img/catalog-img/content-images/catalog/decorative-icons/radio-on-disabled.svg");
}


input[type="radio"]:disabled + .radio-label::before {
	background-image: url("../img/catalog-img/content-images/catalog/decorative-icons/radio-off-disabled.svg");	
}

.do-filtrs-btn {
	width: 140px;
	height: 38px;

	border: 1px solid #e5e5e5;
	background-color: #fff;
	color: #000;
}

.catalog-heading {
	height: 89px;
	display: flex;
	align-items: center;

	color: #32425c;
	font-size: 30px;
	font-weight: normal;
	text-transform: uppercase;
	font-family: "CuprumRegular", "Arial", sans-serif;

	background-color: #f2f6f8;

	padding-left: 30px;
}

.catalog-block {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.catalog-list-wrapper {
	width: 700px;

	margin-bottom: 60px;
}

.sorting-block {
	display: flex;
	display: -webkit-box;
	display: -ms-flexbox;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	        justify-content: space-between;
	        align-items: center;

	background-color: #f7f3ec;

	padding-right: 17px;
	margin-bottom: 19px;

	font-family: "PT Sans", "Arial", sans-serif;

	min-height: 38px;
}

.sorting-items-wrapper {
	display: flex;
	flex-wrap: wrap;
	box-sizing: content-box;
}

.sorting-block h3 {
	display: flex;
	align-items: center;
	font-size: 13px;
	text-transform: uppercase;
	font-weight: normal;

	margin: 0;
	margin-left: 18px;
}

.sorting-items-list {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: flex-end;

	width: 380px;

	font-size: 13px;
	text-transform: uppercase;
	color: #cbc8c2;
}

.sorting-item {
	margin-left: 68px;
}

.sorting-item:first-child {
	margin-left: 0;
}

.sorting-item:nth-child(n + 4) {
	margin-top: 10px;
}

.sorting-item a {
	border-bottom: 1px dotted #ee3643;
	color: #c4c1bb;
}

a.sorting-item-selected {
	color: #ee3643;
	border-bottom: none;
}

.sorting-item a:hover {
	border-bottom: 1px solid #ee3643;
	color: #000;
}

.sorting-btn-wrapper {
	display: flex;
	flex-wrap: wrap;
	align-items: center;

	margin-left: 45px;
}

.sorting-btn {
	display: flex;
}

.sorting-btn-item {
	margin-right: 21px;
}

.sorting-btn-item:last-child {
	margin-right: 0;
}

.sorting-btn-item:first-child a{
	display: block;
	width: 0;
	height: 0;

	border-bottom: 10px solid #ee3643;
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
}

.sorting-btn-item:first-child a:hover {
	border-bottom-color: #000;
}

.sorting-btn-item:last-child a{
	display: block;
	width: 0;
	height: 0;

	border-top: 10px solid #c5c5c5;
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
}

.sorting-btn-item:last-child a:hover {
	border-top-color: #000;
}

.catalog-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;

	margin-bottom: 34px;

	font-family: "PT Sans Bold", "Arial", sans-serif;
}

.catalog-card {
	position: relative;
	width: 220px;
	min-height: 318px;

	margin-right: 20px;
	margin-bottom: 20px;
	padding-bottom: 18px;

	text-align: center;

	border: 1px solid #eaeaea;
}

.catalog-card:nth-child(3n) {
	margin-right: 0;
}

.catalog-card:last-child {
	margin-right: 0;
}

.catalog-hover-block {
	height: 170px;
}

.catalog-card img {
	width: 100%;
}

.catalog-card:hover .user-btns {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0;
	width: 100%;
	height: 175px;
}

.catalog-card:hover img {
	display: none;
}

.catalog-card-new::before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;

	width: 60px;
	height: 60px;

	background-image: url("../img/index-img/content-images/prewie-catalog-images/new-flag.png");
	background-repeat: no-repeat;
}

.paggination-wrapper {
	display: flex;
}

.paggination-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;

	font-family: "PT Sans", "Arial", sans-serif;
}

.paggination-item {
	margin-right: 10px;
}

.paggination-item a {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 38px;
	height: 38px;

	font-size: 13px;

	border: 1px solid #e5e5e5;
	border-radius: 3px;
	color: #000;
}

.paggination-item a:active {
	border-color: #ee3643;
}

.paggination-item-active a{
	background-color: #ee3643;
	color: #fff;
	border: none;
}

.paggination-next-btn{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	align-items: center;

	width: 140px;
	height: 38px;

	text-transform: uppercase;
	font-size: 13px;
	font-family: "PT Sans", "Arial", sans-serif;

	background-color: #fff;
	color: #000;

	border: 1px solid #e5e5e5;
}

.about-hammer-drills {
	background-color: #f2f6f8;

	font-family: "PT Sans", "Arial", sans-serif; 
}

.about-hammer-drills-content {
	width: 940px;
	margin: 0 auto;

	padding-top: 68px;
	padding-bottom: 72px;
}

.about-hammer-drills-content dt {
	font-size: 30px;
	text-transform: uppercase;
	font-weight: normal;
	font-family: "CuprumRegular", "Arial", sans-serif;

	margin-bottom: 20px;
}

.about-hammer-drills-content dd {
	font-family: "PT Sans","Arial", sans-serif;
	font-size: 13px;
	line-height: 25px;
}




		/*End of Main*/


		/*Popups*/

.modal {
	position: fixed;

	-webkit-box-shadow: 0 0 40px rgba(0,0,0, 0.75);

	        box-shadow: 0 0 40px rgba(0,0,0, 0.75);
	background-color: #fff;
}

.write-box {
	display: none;
	animation-name: bounce;
	animation-duration: 0.6s;

	border-top: 7px solid #ff5358;

	font-family: "CuprumRegular", "Arial", sans-serif;

	top: 50%;
	margin-top: -215px;
	left: 50%;
	margin-left: -310px;

	width: 620px;
	min-height: 430px;
}

.modal-show {
	display: block;
}

.close-btn {
	position: absolute;

	display: -webkit-box;

	display: -ms-flexbox;

	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;

	width: 21px;
	height: 21px;

	margin-top: 9px;
	margin-right: 9px;

	right: 0;
	cursor: pointer;

	padding: 0;

	background-color: rgba(255,255,255, 0);
}

.close-btn::before,
.close-btn::after {
	content: "";
	display: block;
	position: absolute;

	width: 4px;
	height: 21px;
	
	background-color: #ff5358;
	-webkit-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	        transform: rotate(45deg);
}

.close-btn::after {
	-webkit-transform: rotate(-45deg);
	    -ms-transform: rotate(-45deg);
	        transform: rotate(-45deg);
}

.write-form {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	margin: 48px 80px 37px;
}

.name-email-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;

	margin-bottom: 22px;
}

.name-email-wrapper div{
	width: 216px;
}

.label-field {
	font-size: 18px;
	line-height: 18px;
}

input[name="nameUser"], input[name="email"] {
	width: 216px;
	height: 34px;

	border: 2px solid #dee3e4;
	border-radius: 3px;

	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 13px;

	margin-top: 12px;
	padding-left: 14px;
}

.message-area {
	width: 100%;
	height: 114px;

	padding-left: 14px;
	padding-top: 10px;

	resize: none;

	border: 2px solid #dee3e4;

	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 13px;

	margin-top: 10px;
}

.sub-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;

	width: 100%;
	height: 112px;

	background-color: #e5e5e5;
}

.submit-btn {
	width: 460px;
	height: 38px;

	background-color: #ee3643;
	border-radius: 7px;
	color: #fff;

	font-size: 14px;
	line-height: 14px;
	text-transform: uppercase;
}

.big-map {
	display: none;

	width: 940px;
	min-height: 446px;
	
	top: 100px;
	bottom: 357px;
	left: 50%;
	margin-left: -470px;
}

.big-map iframe {
	border: 0;
}

.big-map-show {
	display: block;

	animation-name: bounce;
	animation-duration: 0.6s;
}

.product-added-card {
	display: none;	
}

.product-added-card-show {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	        animation-name: bounce;
	        animation-duration: 0.6s;

	position: fixed;
	top: 40px;
	bottom: 310px;

	z-index: 2;
	
	width: 620px;
	height: 282px;

	border-top: 7px solid #ee3643;
	background-color: #fff;

	font-family: "CuprumRegular", "Arial", sans-serif;

	left: 50%;
	margin-left: -310px;
}
}

section.popup-hidden {
	display: none;
}

.product-added-phrase {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;

	min-height: 163px;
	font-size: 30px;
	padding-left: 178px;

	background-image: url("../img/catalog-img/content-images/catalog/decorative-icons/add.svg");
	background-repeat: no-repeat;
	background-position: 80px 48px;
}

.added-buttons-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding: 0 80px;
	
	background-color: #e5e5e5;
	min-height: 112px;
	
	bottom: 0;
}

.added-buttons {
	width: 220px;
	height: 38px;

	font-size: 14px;
	text-transform: uppercase;

	border-radius: 3px;
	margin-right: 20px;
}

.added-buttons:nth-child(2n) {
	margin-right: 0;
}

.do-order-btn {
	display: flex;
	justify-content: center;
	align-items: center;

	background-color: #ee3643;
	text-align: center;
	color: #fff;
}

.continue-btn {
	background-color: #fff;
	padding: 0;
}

/*Animation*/

@keyframes bounce {
	0% {transform: translateY(-2000px);}
	70% {transform: translateY(30px);}
	90% {transform: translateY(-10px);}
	100% {transform: translateY(10px);}
}

@keyframes shake {
	0%, 100% {transform: translateX(0);}
	10%, 30%, 60%, 90% {transform: translateX(10px);}
	20%, 40%, 70%, 80% {transform: translateX(-10px);}
}

.modal-error {
	animation-name: shake;
	animation-duration: 0.6s;
}
