/*Fonts*/
@import url('https://fonts.googleapis.com/css?family=Cuprum&display=swap&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=PT+Sans&display=swap');

*,*::before,*::after {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

body {
	font-family: 'Cuprum', sans-serif;
}

/*Стили для скрытых заголовков*/
.visually-hidden {
	position: absolute;
  	width: 1px;
  	height: 1px;
 	margin: -1px;
  	border: 0;
  	padding: 0;
  	clip: rect(0 0 0 0);
  	overflow: hidden;
}



	/*Header*/

.main-header {
	background-color: #f3f7f9;
	border-bottom: 1px solid transparent;

	margin-bottom: 60px;
}

.header-top-wrapper {
	width: 100%;
	margin-bottom: 45px;

	background-color: #293449;

	font-size: 17px;
}

.main-header-top {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	width: 940px;
	height: auto;

	margin: 0 auto;
}

.logo-wrapper {
	position: relative;

	width: 220px;
	height: auto;
}

.logo-wrapper:hover img.logo-link {
	opacity: 0;
}

.logo-wrapper:active img.logo-hover {
	opacity: 0;
}

.logo {
	position: absolute;
	left: 0;
	top: 0;
}

.user-actions-list {
	color: #fff;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	width: 720px;
}

.search-field {
	width: 270px;
	height: 42px;

	padding-left: 50px;

	background-color: #293449;
	color: #fff;

	background-image: url('../img/index-img/header-images/decorative-icons/icon-search.svg');
	background-repeat: no-repeat;
	background-position: 17px, 50%;
}

/*Класс big-btn сделан для того, чтобы когда список переполнялся новыми пунктами,
.big-btn добывлялся к елементу списка, который стоит ниже поля "Поиск"*/

.big-btn {
	width: 270px;
}

/*Довбавляю placeholder цвет текста*/
.search-field::-webkit-input-placeholder {
	color: #fff
}

.search-field:hover {
	background-color: #212a3a;
	background-image: url('../img/index-img/header-images/decorative-icons/icon-search-hover.svg');
}

.search-field:focus {
	background-color: #fff;
	color: #000;
	background-image: url('../img/index-img/header-images/decorative-icons/icon-search-focus.svg');
}

.header-btn {
	position: relative;

	width: 150px;
	height: 42px;
	
	border: 0;
	padding-left: 17px;

	background-color: #293449;
	color: #fff;
}

.header-btn:hover {
	background-color: #212a3a;
}

.header-btn:active {
	background-color: #161d29;
	color: #8b8e94;
}

.bookmark::before {
	content: "";
	display: block;
	position: absolute;
	top: 50%;
	margin-top: -8px;

	width: 16px;
	height: 16px;

	background-image: url('../img/index-img/header-images/decorative-icons/icon-bookmark.svg');
	background-repeat: no-repeat;
}

.bookmark:hover::before {
	background-image: url('../img/index-img/header-images/decorative-icons/icon-bookmark-hover.svg');
}

.bookmark:active::before {
	background-image: url('../img/index-img/header-images/decorative-icons/icon-bookmark.svg');
}

.basket::before {
	content: "";
	display: block;
	position: absolute;
	top: 50%;
	margin-top: -8px;

	width: 16px;
	height: 16px;

	background-image: url('../img/index-img/header-images/decorative-icons/icon-cart.svg');
	background-repeat: no-repeat;
}

.basket:hover::before {
	background-image: url('../img/index-img/header-images/decorative-icons/icon-cart-hover.svg');
}

.basket:active::before {
	background-image: url('../img/index-img/header-images/decorative-icons/icon-cart.svg');
}

.main-header-checkout_btn {
	width: 150px;
	height: 42px;

	background-color: #63a63e;
	color: #fff;
}

.main-header-checkout_btn:hover {
	background-color: #5fbb2d;
}

.main-header-checkout_btn:active {
	background-color: #518534;
	color: #8b8e94;
}

.main-header-short-inform {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;

	width: 940px;

	margin: 0 auto;
	margin-bottom: 45px;
}

.short-market-desc {
	color: #ee3643;
	font-style: italic;
	line-height: 20px;

	margin: 0;
	margin-left: 50px;
}

.address-block a {
	display: block;

	width: 270px;
	height: 45px;

	margin-bottom: 10px;

	border: 2px solid #fff;

	color: #ee3643;
	font-size: 21px;
	text-align: center;
	line-height: 45px;

	background-image: url(../img/index-img/header-images/decorative-icons/icon-phone.svg);
	background-repeat: no-repeat;
	background-position: 13px, 50%;
}

.address-block address {
	text-align: center;
	font-size: 14px;
	color: #32425c;
}

.login-btn-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	
	width: 280px;

	color: #32425c;
}

.login-btn {
	margin-bottom: 10px;
}

.enter-btn {
	position: relative;
	width: 120px;
	height: 46px;

	padding-left: 14px;

	font-size: 21px;

	background-color: #fff;
}

.enter-btn::before {
	content: "";
	display: block;
	position: absolute;
	top: 50%;
	margin-top: -9px;

	width: 20px;
	height: 18px;

	background-image: url('../img/index-img/header-images/decorative-icons/icon-login-link.svg');
	background-repeat: no-repeat;
}

.enter-btn:hover::before {
	background-image: url('../img/index-img/header-images/decorative-icons/icon-login-hover.svg');
}

.enter-btn:active::before {
	background-image: url('../img/index-img/header-images/decorative-icons/icon-login-link.svg');
}

.enter-btn:hover {
	color: #ee3643;
}

.enter-btn:active {
	color: #c5c5c5;
}

.register-btn {
	width: 150px;
	height: 46px;

	font-size: 21px;

	background-color: #fff;
}

.register-btn:hover {
	color: #ee3643;
}

.register-btn:active {
	color: #c5c5c5;
}

.main-header-nav {
	width: 940px;

	margin: 0 auto;
	margin-bottom: 60px;

	background-color: #32425c;
	border-bottom: 5px solid #293449;
}

.main-header-nav_list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}

.main-header-nav-item {
	margin-right: 5px;
}

.main-header-nav-item:nth-child(7n) {
	margin-right: 0;
}

.main-header-nav_list a {
	display: block;

	width: 130px;
	height: 60px;

	color: #fff;

	text-align: center;
	line-height: 60px;
}

.main-header-nav_list a:hover {
	background-color: #293449;
}

.main-header-nav_list a:active {
	background-color: #1d2739;
	color: #a8abaf;
}
		/*End of Header*/

		/*Main*/
.main-wrapper {
	width: 940px;
	margin: 0 auto;
}

.prewie-catalog-block {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;

	margin-bottom: 53px;
}

.flex-wrapper-top {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}

.flex-top-item {
	margin-bottom: 20px;
}

.flex-top-item:nth-child(3n) {
	margin-right: 0;
}

.flex-bottom-item {
	margin-bottom: 20px;
}

.flex-bottom-item:last-child {
	margin-bottom: 0;
}

.flex-wrapper-bottom {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.additive-flex-part {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}

.materials {
	position: relative;
	width: 300px;
	height: 123px;

	margin-right: 20px;

	border: 1px solid #ffbf47;
	background-color: #ffbf47;

	background-image: url('../img/index-img/content-images/prewie-catalog-images/icon-1.png');
	background-repeat: no-repeat;
	background-position: bottom 27px right 43px;
}

.materials a {
	display: block;

	width: 135px;
	height: 40px;

	margin: 0 24px 22px;

	background-color: #e5ac40;
	border-radius: 2px;

	font-size: 17px;
	color: #fff;
	text-align: center;
	line-height: 40px;
}

.materials a:hover {
	background-color: #cccccc;
}

.materials a:active {
	background-color: #b2b2b2;
}


.materials h2 {
	margin: 15px 22px;
	padding: 0;

	color: #fff;
}

.new::before {
	content: "";
	position: absolute;
	right: 0;
	top: 0;

	width: 60px;
	height: 60px;

	background-image: url(../img/index-img/content-images/prewie-catalog-images/new-flag.png);
	background-repeat: no-repeat;
}

.instruments {
	position: relative;
	width: 300px;
	height: 123px;

	margin-right: 20px;

	border: 1px solid #3bbce3;
	background-color: #3bbce3;
	background-image: url('../img/index-img/content-images/prewie-catalog-images/icon-2.png');
	background-repeat: no-repeat;
	background-position: bottom 29px right 27px;
}

.instruments a {
	display: block;
	width: 135px;
	height: 40px;
	margin: 0 24px 22px;

	background-color: #35a9cc;
	border-radius: 2px;

	font-size: 17px;
	color: #fff;
	text-align: center;
	line-height: 40px;
}

.instruments a:hover {
	background-color: #cccccc;
}

.instruments a:active {
	background-color: #b2b2b2;
}

.instruments h2 {
	margin: 15px 22px;
	padding: 0;

	color: #fff;
}

.technics {
	position: relative;
	width: 300px;
	height: 123px;

	border: 1px solid #dc91d8;
	background-color: #dc91d8;
	background-image: url('../img/index-img/content-images/prewie-catalog-images/icon-3.png');
	background-repeat: no-repeat;
	background-position: bottom 30px right 31px;
}

.technics a {
	display: block;
	width: 135px;
	height: 40px;
	margin: 0 24px 22px;

	background-color: #c682c2;
	border-radius: 2px;

	font-size: 17px;
	color: #fff;
	text-align: center;
	line-height: 40px;
}

.technics a:hover {
	background-color: #cccccc;
}

.technics a:active {
	background-color: #b2b2b2;
}

.technics h2 {
	margin: 15px 22px;
	padding: 0;

	color: #fff;
}

.discounts {
	position: relative;
	width: 300px;
	height: 123px;

	border: 1px solid #8ed78f;
	background-color: #8ed78f;
	background-image: url('../img/index-img/content-images/prewie-catalog-images/icon-4.png');
	background-repeat: no-repeat;
	background-position: bottom 25px right 45px;
}

.discounts a {
	display: block;
	width: 135px;
	height: 40px;
	margin: 0 24px 22px;

	background-color: #80c180;
	border-radius: 2px;

	font-size: 17px;
	color: #fff;
	text-align: center;
	line-height: 40px;
}

.discounts a:hover {
	background-color: #cccccc;
}

.discounts a:active {
	background-color: #b2b2b2;
}

.discounts h2 {
	margin: 15px 22px;
	padding: 0;

	color: #fff;
}

.delivery {
	position: relative;
	width: 300px;
	height: 123px;

	border: 1px solid #ffc047;
	background-color: #ffc047;
	background-image: url('../img/index-img/content-images/prewie-catalog-images/icon-5.png');
	background-repeat: no-repeat;
	background-position: bottom 28px right 31px;
}

.delivery a {
	display: block;
	width: 135px;
	height: 40px;
	margin: 0 24px 22px;

	background-color: #e5ac40;
	border-radius: 2px;

	font-size: 17px;
	color: #fff;
	text-align: center;
	line-height: 40px;
}

.delivery a:hover {
	background-color: #cccccc;
}

.delivery a:active {
	background-color: #b2b2b2;
}

.delivery h2 {
	margin: 15px 22px;
	padding: 0;

	color: #fff;
}

.slaider {
	width: 620px;
	height: auto;

	margin-right: 20px;
}

.slaids {
	position: relative;

	min-height: 266px;

	padding-top: 26px;
}

.slaide-hidden {
	display: none;
}

.slaide-1 {
	position: relative;

	background-image: url(../img/index-img/content-images/slaider/slaider-img2.jpg);
	background-repeat: no-repeat;
	background-color: #708189;
	color: #fff;
}

.slaide-2 {
	background-image: url(../img/index-img/content-images/slaider/slaider-img1.jpg);
	background-repeat: no-repeat;
	background-color: #708189;
	color: #fff;
}

.slaider-btn {
	position: absolute;

	display: -webkit-box;

	display: -ms-flexbox;

	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;

	width: 40px;
	height: 40px;

	cursor: pointer;

	background-color: rgba(255,255,255, 0);

	top: 50%;
	margin-top: -20px;
	padding: 0;
}

.slaider-btn div{
	width: 29px;
	height: 29px;
}

.back-btn{
	margin-left: 25px;
}

.back-btn div {
	border-left: 3px solid #fff;
	border-bottom: 3px solid #fff;

	-webkit-transform: rotate(45deg);

	    -ms-transform: rotate(45deg);

	        transform: rotate(45deg);
}

.next-btn {
	right: 20px;
}

.next-btn div {
	border-right: 3px solid #fff;
	border-bottom: 3px solid #fff;

	-webkit-transform: rotate(-45deg);

	    -ms-transform: rotate(-45deg);

	        transform: rotate(-45deg);
}

.slaider-headering {
	font-size: 36px;

	padding-left: 25px;
	margin-bottom: 8px;
	margin-top: 0;
}

.slaider p {
	font-size: 18px;
	font-weight: normal;

	padding-left: 25px;
	margin: 0;
}

.slaider a {
	display: block;
	position: absolute;
	left: 25px;
	bottom: 22px;

	width: 195px;
	height: 38px;

	background-color: #ee3643;
	border-radius: 2px;
	color: #fff;
	font-size: 17px;
	text-align: center;
	line-height: 38px;
}

.slaider a:hover {
	background-color: #ca2c37;
}

.slaider a:active {
	background-color: #ba2732;
}

/*Popular-products*/

.link_heading-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;

	background-color: #f9f5f0;

}

.link_heading-wrapper h2 {
	font-size: 30px;
	font-weight: normal;
	color: #32425c;

	margin-left: 30px;
}

.link_heading-wrapper a {
	display: block;
	-ms-flex-item-align: center;
	    -ms-grid-row-align: center;
	    align-self: center;

	width: 250px;
	height: 40px;

	margin-right: 24px;

	background-color: #ee3643;
	border-radius: 2px;

	color: #fff;
	font-size: 17px;
	text-align: center;
	line-height: 40px;
}

.link_heading-wrapper a:hover {
	background-color: #ca2c37;
}

.popular-products-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;

	margin-top: 20px;

	font-size: 18px;
}

.popular-list-item {
	position: relative;
	width: 220px;
	height: 320px;

	margin-right: 20px;
	margin-bottom: 20px;

	text-align: center;

	border: 2px solid #eaeaea;
}

.popular-list-item:nth-child(4n) {
	margin-right: 0;
}

.popular-list-item img {
	width: 100%;
}

/*При наведении на елемент списка*/
.popular-list-item:hover {
	-webkit-box-shadow: 0 0 25px rgba(41,52,73, 0.5);
	        box-shadow: 0 0 25px rgba(41,52,73, 0.5);
	border: 2px solid #fff;
}

.user-btns {
	display: none;
}

.buy-btn {
	width: 135px;
	height: 40px;

	margin-bottom: 7px;
	margin-top: 45px;

	background-color: #63a63e;
	color: #fff;
	border-radius: 3px;
	-webkit-box-shadow: 0 3px 0px rgba(54,115,21, 1),
	3px 3px 15px rgba(0,0,0, 0.25);
	        box-shadow: 0 3px 0px rgba(54,115,21, 1),
	3px 3px 15px rgba(0,0,0, 0.25);

	font-size: 14px;
	text-transform: uppercase;

	background-image: url('../img/index-img/content-images/popular-products-images/icon-cart-link.svg');
	background-repeat: no-repeat;
	background-position: 12px, 50%;
}

.buy-btn:hover {
	background-color: #5fbb2d;
	background-image: url('../img/index-img/content-images/popular-products-images/icon-cart-hover.svg');
}

.buy-btn:active {
	background-color: #518534;
}

.bookmarks-btn {
	width: 135px;
	height: 40px;

	background-color: #fff;
	color: #32425c;
	border: 3px solid #63a63e;
	border-radius: 3px;

	font-size: 14px;
	text-transform: uppercase;
}

.bookmarks-btn:hover {
	border-color: #32425c;
}

.bookmarks-btn:active {
	border-color: #c1c6ce;
	color: #c1c6ce;
}

.popular-list-item:hover .user-btns {
	display: block;
	margin: 0;
	width: 100%;
	height: 175px;
}

.popular-list-item:hover img {
	display: none;
}

/* */

.perforator-name {
	margin: 0;
}

.perforator-name a {
	color: #000;
}

.old-price {
	width: 140px;
	height: 40px;

	margin: 0 auto 0;
	padding-right: 21px;
	padding-left: 36px;

	line-height: 40px;
}

.price-through_line {
	color: #a9a9a9;
	text-decoration: line-through;
}

.stock-price {
	position: relative;
	width: 122px;
	height: 40px;

	margin: 0 auto 20px;
	padding-right: 21px;
	padding-left: 36px;

	font-family: "PT Sans", sans-serif;
	font-weight: bold;
	font-size: 17px;

	background-color: #ee3643;
	line-height: 40px;
	color: #fff;
}

.stock-price::before {
	content: "";
	position: absolute;
	display: block;
	left: 100%;
	
	width: 0;
	height: 0;

	border-top: 20px solid transparent;
	border-left: 18px solid #ee3643;
	border-bottom: 20px solid transparent;
}

.popular-list-item_new .stock-price {
	margin: 40px auto 20px;
}

.popular-list-item_new::before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;

	width: 60px;
	height: 60px;

	background-image: url(../img/index-img/content-images/prewie-catalog-images/new-flag.png);
	background-repeat: no-repeat;
}

.popular-companies-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;

	margin-top: 20px;
	margin-bottom: 65px;
}

.popular-companies-item {
	margin-right: 20px;
	margin-bottom: 20px;
}

.popular-companies-item:nth-child(4n) {
	margin-right: 0;
}

.popular-companies-item a{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;

	width: 220px;
	height: 145px;

	border: 1px solid #e5e5e5;
}

.popular-companies-item a:hover {
	-webkit-box-shadow: 0 0 25px rgba(41,52,73, 0.5);
	        box-shadow: 0 0 25px rgba(41,52,73, 0.5);
	border: 1px solid #fff;
}

/*Services*/
.services {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;

	font-size: 13px;
	font-family: 'PT Sans', sans-serif;

	background-color: #f4f8f9;
}

.service-content-wrap {
	width: 940px;
	margin: 0 auto;
}

.services h2 {
	font-size: 30px;
	font-weight: normal;
}

.services p {
	font-weight: normal;
	line-height: 25px;
}

.sevice-list-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: relative;

	width: 960px;

	min-height: 366px;
}

.sevices-list {
	-ms-flex-item-align: center;
	    -ms-grid-row-align: center;
	    align-self: center;

	font-size: 21px;
	font-family: 'Cuprum', sans-serif;

	color: #fff;
}

.shadow {
	position: absolute;
	margin-left: 230px;
	top: 50%;
	margin-top: -136px;
	
}

.sevices-list a {
	display: block;

	width: 240px;
	height: 60px;

	padding-left: 22px;

	background-color: #32425c;

	border-top: 1px solid #405069;
	border-bottom: 1px solid #293449;

	line-height: 60px;
}

a.services-item-active {
	background-color: #fff;
	border: none;
	color: #32425c;
}

.sevices-list a:hover {
	background-color: #fff;
	border: none;
	color: #32425c;
}

.service-description-wrapper {
	-webkit-box-flex: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;

	padding-top: 30px;
	padding-bottom: 135px;
	padding-left: 80px;
	padding-right: 10px;
}

.block-hidden {
	display: none;
}

.delivery-desc {
	background-image: url(../img/index-img/content-images/service-images/delivery-img.png);
	background-repeat: no-repeat;
	background-position: 96% 85%;
}

.garanty {
	background-image: url(../img/index-img/content-images/service-images/garanty-img.png);
	background-repeat: no-repeat;
	background-position: 100%;
}

.credit {
	background-image: url(../img/index-img/content-images/service-images/credit-img.png);
	background-repeat: no-repeat;
	background-position: 96% 40px;
}

.credit dd {
	margin-bottom: 30px;
}

.send-request-btn {
	display: block;

	width: 195px;
	height: 38px;

	background-color: #ff5357;
	color: #fff;
	border-radius: 3px;

	font-family: 'Cuprum', sans-serif;
	font-size: 14px;
	text-transform: uppercase;
	text-align: center;
	line-height: 38px;
}

.services-description dt {
	font-size: 36px;
	font-weight: normal;
	color: #32425c;

	margin-bottom: 35px;
}

.services-description dd {
	font-weight: normal;
	color: #32425c;
	line-height: 25px;
}

/*about-company*/
.about-content-wrap {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;

	width: 940px;
	margin: 0 auto 86px;
}

.about-company-wrapper {
	padding-top: 82px;
}

.about-company-wrapper h2 {
	font-size: 30px;
	font-weight: normal;
}

.about-company-wrapper p {
	font-weight: normal;
	line-height: 25px;
}

.company-list {
	margin-bottom: 40px;
}

.company-list li {
	position: relative;

	padding-left: 35px;
	margin-bottom: 25px;

	font-size: 18px;
}

.company-list li:last-child {
	margin-bottom: 0;
}

.company-list li::before {
	content: "";
	position: absolute;

	width: 25px;
	height: 2px;

	background-image: url(../img/index-img/content-images/service-images/list-line.png);
	left: 0;
	top: 50%;
	margin-top: -1px;
}

.company-advanteges a {
	display: block;
	width: 220px;
	height: 40px;

	background-color: #ee3643;
	color: #fff;

	font-size: 14px;
	text-transform: uppercase;
	text-align: center;
	line-height: 40px;
}

.company-advanteges a:hover {
	background-color: #ca2c37;
}

.contacts figure {
	margin: 40px 0; 
}

.write-us-btn {
	display: block;
	width: 300px;
	height: 40px;

	background-color: #ee3643;
	color: #fff;

	font-size: 14px;
	text-transform: uppercase;
	text-align: center;
	line-height: 40px;
}

.contacts a:hover {
	background-color: #ca2c37;
}


		/*End of Main*/

		/*Footer*/

.main-footer {
	background-color: #32425c;
}

footer .logo-wrapper {
	margin-bottom: 30px;
	height: 68px;
}

.footer-top-part{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;

	width: 940px;

	margin: 0 auto;
	padding-bottom: 43px;

	background-color: #32425c;
}

.footer-top-part address, a{
	color: #fff;
}

.footer-navs-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;

	margin-top: 42px;
}

.footer-main-nav {
	margin-bottom: 36px;
}

.footer-main-nav-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	width: 550px;
}

.footer-main-nav-item {
	margin-right: 60px;
	margin-bottom: 10px;
}

.footer-main-nav-item:nth-child(n+5) {
	margin-right: 0;
	margin-left: 60px;
}

.footer-main-nav-item:nth-child(5) {
	margin-left: 0;
}

.footer-main-nav-list a:hover {
	text-decoration: underline;
}

.footer-main-nav-list a:active {
	color: #a4abb4;
}

.footer-additional-nav {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
}

.footer-additional-nav-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;

	width: 525px;

	-webkit-box-pack: end;

	    -ms-flex-pack: end;

	        justify-content: flex-end;
}

.footer-additional-nav-list a {
	color: #ffd180;
}

.footer-additional-item {
	margin-right: 60px;
	margin-bottom: 10px;
}

.footer-additional-item:nth-child(n+4) {
	margin-left: 60px;
	margin-right: 0;
}

.footer-additional-item:nth-child(4) {
	margin-right: 0;
	margin-left: 0;
}

.footer-additional-nav-list a:hover {
	text-decoration: underline;
}

.footer-additional-nav-list a:active {
	color: #ad956f;
}

.footer-copyright {
	background-color: #293449;
}

.footer-copyright-content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;

	width: 940px;
	margin: 0 auto;

	margin: 0 auto;
	padding-top: 40px;
	padding-bottom: 35px;
}

.footer-copyright p {
	margin: 0;

	color: #fff;
}

.footer-network-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;

	width: 135px;
}

.footer-network-item {
	margin-bottom: 10px;
}

.footer-network-item a{
	display: block;
	width: 40px;
	height: 40px;

	margin-right: 5px;

	border-radius: 50%;
}

.footer-network-item:last-child {
	margin-right: 0;
}

.footer-network-item:nth-child(1) a{
	background-image: url(../img/index-img/footer-images/vk-icon.svg);
	background-repeat: no-repeat;
	background-position: center center;
}

.footer-network-item:nth-child(2) a{
	background-image: url(../img/index-img/footer-images/fb-icon.svg);
	background-repeat: no-repeat;
	background-position: center center;
}

.footer-network-item:nth-child(3) a{
	background-image: url(../img/index-img/footer-images/insta-icon.svg);
	background-repeat: no-repeat;
	background-position: center center;
}

.footer-network-item:nth-child(1):hover a{
	background-image: url(../img/index-img/footer-images/hover-network/vk-icon-hover.svg);
	background-repeat: no-repeat;
	background-position: center center;
}

.footer-network-item:nth-child(2):hover a{
	background-image: url(../img/index-img/footer-images/hover-network/fb-icon-hover.svg);
	background-repeat: no-repeat;
	background-position: center center;
}

.footer-network-item:nth-child(3):hover a{
	background-image: url(../img/index-img/footer-images/hover-network/insta-icon-hover.svg);
	background-repeat: no-repeat;
	background-position: center center;
}

.creators-communication {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	margin-right: 15px;
}

.creators-communication li {
	margin-right: 53px;
}

.creators-communication li:last-child {
	margin-right: 0;
}

.creators-communication a {
	color: #ffd180;
}

.creators-communication a:active {
	color: #ee3643;
}


		/*End of Footer*/

								/*Catalog.html*/

		/*Header*/
		
.main-header-catalog {
	background-color: #f3f7f9;
	border-bottom: 1px solid transparent;

	margin-bottom: 24px;
}

.main-header_short-inform {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;

	width: 940px;

	margin: 0 auto;
}

.modified {
	background-color: #ee3643;
}

.modified:hover {
	background-color: #ca2c37;
	color: #fff;
}

.modified:active {
	background-color: #ba2732;
	color: #fff;
}

.user-block {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}

.user-profile {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;

	width: 300px;
	height: 45px;

	margin-bottom: 10px;

	background-color: #fff;
}

.user-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.user-list-item {
	-ms-flex-item-align: center;
	    -ms-grid-row-align: center;
	    align-self: center;
}

.user-name {
	display: block;

	margin-right: 40px;
	margin-left: 15px;

	color: #000;

	font-size: 21px;
	font-weight: normal;
}

.user-icon {
	display: block;
	-ms-flex-item-align: center;
	    -ms-grid-row-align: center;
	    align-self: center;

	width: 20px;
	height: 20px;

	background-image: url(../img/catalog-img/header-images/decorative-icons/icon-user.svg);
	background-repeat: no-repeat;
}

.logout-icon {
	display: block;

	width: 20px;
	height: 20px;

	background-image: url(../img/catalog-img/header-images/decorative-icons/icon-logout.svg);
	background-repeat: no-repeat
}

.user-links-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;

	width: 300px;
}

.user-links-item {
	margin-right: 15px;
}

.user-links-item {
	margin-left: 16px;
}

.item-decor-circle {
	position: relative;
	padding-left: 16px;
	margin-left: 0;
}

.item-decor-circle::before {
	content: "";
	position: absolute;
	left: 0;

	width: 4px;
	height: 4px;

	top: 50%;
	margin-top: -2px;

	background-color: #32425c;
	border-radius: 50%;
}

.user-links-item a {
	color: #000;
}

		/*End of Header*/

		/*Main*/

.catalog-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;

	width: 940px;
	margin: 0 auto;
	font-family: 'PT Sans', sans-serif;
}

.breadcrumbs {
	-webkit-box-ordinal-group: 0;
	    -ms-flex-order: -1;
	        order: -1;

	display: -webkit-box;

	display: -ms-flexbox;

	display: flex; 
}

.breadcrumbs-item {
	margin-right: 16px;
}

.breadcrumbs-item:last-child {
	margin-right: 0;
}

.breadcrumbs-item a {
	color: #000;
	font-size: 13px;
	text-transform: uppercase;
}

.breadcrumbs-decor-arrow {
	position: relative;

	padding-right: 24px;
}

.breadcrumbs-decor-arrow::before {
	content: "";
	display: block;

	position: absolute;
	right: 0;


	width: 10px;
	height: 10px;

	top: 50%;
	margin-top: -5px;

	border-top: 1px solid #c6cad2;
	border-right: 1px solid #c6cad2;

	-webkit-transform: rotate(45deg);

	    -ms-transform: rotate(45deg);

	        transform: rotate(45deg);
}

.filtrs-block {
	width: 220px;
}

.filtrs-block form {
	margin-bottom: 25px;

	border-bottom: 1px solid #e5e5e5;
}

.filtrs-block form:last-child {
	margin-bottom: 0;

	border-bottom: none;
}

.filtrs-form {
	padding-bottom: 25px;
}

.filtrs-form legend {
	display: flex;
	align-items: center;

	min-height: 38px;

	font-size: 13px;
	color: #000;
	text-transform: uppercase;

	background-color: #f7f3ec;

	padding-left: 14px;
	margin-bottom: 20px;
}

.filtr-labels {
	display: block;

	margin-bottom: 20px;

	font-weight: bold;
	font-size: 17px;
}

.price-filtr-field {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;

	background-color: #e5e5e5;
	border-radius: 6px;
	height: 80px;

	margin-bottom: 10px;
}

.price-filtr-range {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	width: 180px;
	height: 22px;
}

.scale	{
	position: absolute;

	width: 180px;
	height: 2px;

	background-color: #d7dcde;

	margin: 0 auto;
	-ms-flex-item-align: center;
	    -ms-grid-row-align: center;
	    align-self: center;

	z-index: 1;
}

.scale::before {
	content: "";
	position: absolute;

	width: 160px;
	height: 2px;

	background-color: #00ca74;
}

.slider {
	position: absolute;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;

	width: 20px;
	height: 20px;

	background-color: #fff;
	border-radius: 50%;

	-webkit-box-shadow: 0 2px 2px rgba(0,0,0, 0.2);

	        box-shadow: 0 2px 2px rgba(0,0,0, 0.2);

	z-index: 2;
}

.slider-1 {
	margin-left: 140px; 
}

.slider::before {
	content: "";
	display: block;
	position: absolute;

	width: 4px;
	height: 4px;

	background-color: #ababab;
	border-radius: 50%;
}

.price-inputs {
	position: relative;

	display: -webkit-box;

	display: -ms-flexbox;

	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.price-inputs::before {
	content: "";
	display: block;

	position: absolute;
	right: 50%;
	margin-right: -5px;
	top: 50%;
	margin-top: -0.5px;

	width: 10px;
	height: 1px;

	background-color: #000;
}

.filtrs-form input[type="text"] {
	width: 95px;
	height: 38px;

	text-align: center;

	background-color: #e5e5e5;
	border-radius: 3px;
}

.manufacturers-form {
	padding-bottom: 21px;
}

.do-filtrs-btn {
	width: 140px;
	height: 38px;

	border: 1px solid #e5e5e5;
	background-color: #fff;
	color: #000;
}

.catalog-block {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.catalog-list-wrapper {
	width: 700px;

	margin-bottom: 60px;
}

.sorting-block {
	display: flex;
	justify-content: space-between;

	background-color: #f7f3ec;

	padding-right: 17px;
	margin-bottom: 20px;

	min-height: 38px;
}

.sorting-block div {
	display: flex;
}

.sorting-block h3 {
	font-size: 13px;
	text-transform: uppercase;
	font-weight: normal;

	margin: 0;
	margin-left: 18px;
	align-self: center;
}

.sorting-items-list {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: flex-end;

	font-size: 13px;
	font-family: "PT Sans", sans-serif;
	text-transform: uppercase;
	color: #cbc8c2;

	cursor: pointer;
}

.sorting-item {
	margin-left: 68px;
}

.sorting-item:first-child {
	margin-left: 0;
}

.sorting-item:nth-child(n + 4) {
	margin-top: 10px;
}

.sorting-item span {
	border-bottom: 1px dotted #ee3643;
}

span.sorting-item-selected {
	color: #ee3643;
	border-bottom: none;
}

.sorting-btn-wrapper {
	display: flex;
	align-items: center;

	margin-left: 45px;
}

.sorting-btn {
	display: flex;
}

.sorting-btn li {
	margin-right: 21px;
}

.sorting-btn li:first-child{
	width: 0;
	height: 0;

	border-bottom: 10px solid #ee3643;
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
}

.sorting-btn li:last-child{
	width: 0;
	height: 0;

	border-top: 10px solid #c5c5c5;
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
	margin-right: 0;
}

.catalog-heading {
	color: #32425c;
	font-size: 30px;
	font-weight: normal;
	text-transform: uppercase;

	background-color: #f2f6f8;

	padding: 35px 0 35px 30px;
}

.catalog-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;

	margin-bottom: 32px;
}

.catalog-card {
	position: relative;
	width: 220px;
	height: 320px;

	margin-right: 20px;
	margin-bottom: 20px;

	text-align: center;

	border: 1px solid #eaeaea;
}

.catalog-card:nth-child(3n) {
	margin-right: 0;
}

.catalog-card:last-child {
	margin-right: 0;
}

.catalog-hover-block {
	height: 170px;
}

.catalog-card img {
	width: 100%;
}

.catalog-card:hover .user-btns {
	display: block;
	margin: 0;
	width: 100%;
	height: 175px;
}

.catalog-card:hover img {
	display: none;
}

.catalog-card-new::before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;

	width: 60px;
	height: 60px;

	background-image: url(../img/index-img/content-images/prewie-catalog-images/new-flag.png);
	background-repeat: no-repeat;
}

.paggination-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.paggination-item {
	width: 38px;
	height: 38px;

	text-align: center;
	line-height: 38px;
	font-size: 13px;

	margin-right: 10px;

	border: 1px solid #e5e5e5;
	border-radius: 3px;
}

.paggination-item:active {
	border: 1px solid #ee3643;
}

.paggination-item-active {
	background-color: #ee3643;
	color: #fff;
}

.paggination-next-btn {
	width: 140px;
	height: 38px;

	text-transform: uppercase;
	font-size: 13px;

	background-color: #fff;
	color: #000;

	border: 1px solid #e5e5e5;
}

.about-hammer-drills {
	background-color: #f2f6f8;
}

.about-hammer-drills-content {
	width: 940px;
	margin: 0 auto;

	padding-top: 68px;
	padding-bottom: 72px;
}

.about-hammer-drills-content dt {
	font-size: 30px;
	text-transform: uppercase;
	font-weight: normal;

	margin-bottom: 30px;
}

.about-hammer-drills-content dd {
	font-family: 'PT Sans', sans-serif;
	font-size: 13px;
	line-height: 25px;
}




		/*End of Main*/


		/*Popups*/

.modal {
	position: fixed;

	-webkit-box-shadow: 0 0 40px rgba(0,0,0, 0.75);

	        box-shadow: 0 0 40px rgba(0,0,0, 0.75);
	background-color: #fff;
}

.write-box {
	display: none;

	border-top: 7px solid #ff5358;

	top: 50%;
	margin-top: -215px;
	left: 50%;
	margin-left: -310px;

	width: 620px;
	min-height: 430px;
}

.modal-show {
	display: block;
}

.close-btn {
	position: absolute;

	display: -webkit-box;

	display: -ms-flexbox;

	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;

	width: 21px;
	height: 21px;

	margin-top: 9px;
	margin-right: 9px;

	right: 0;
	cursor: pointer;

	padding: 0;

	background-color: rgba(255,255,255, 0);
}

.close-btn::before,
.close-btn::after {
	content: "";
	display: block;
	position: absolute;

	width: 4px;
	height: 21px;
	
	background-color: #ff5358;
	-webkit-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	        transform: rotate(45deg);
}

.close-btn::after {
	-webkit-transform: rotate(-45deg);
	    -ms-transform: rotate(-45deg);
	        transform: rotate(-45deg);
}

.write-form {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	margin: 48px 80px 37px;
}

.name-email-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;

	margin-bottom: 22px;
}

.name-email-wrapper div{
	width: 216px;
}

.label-field {
	font-size: 18px;
	line-height: 18px;
}

input[name="nameUser"], input[name="email"] {
	width: 216px;
	height: 34px;

	border: 2px solid #dee3e4;
	border-radius: 3px;

	margin-top: 12px;
	padding-left: 14px;
	padding-top: 12px;
	padding-bottom: 12px;
}

.message-area {
	width: 100%;
	height: 114px;

	padding: 12px 14px;

	resize: none;

	border: 2px solid #dee3e4;

	margin-top: 10px;
}

.sub-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;

	width: 100%;
	min-height: 112px;

	background-color: #e5e5e5;
}

.submit-btn {
	width: 460px;
	height: 38px;

	background-color: #ee3643;
	border-radius: 7px;
	color: #fff;

	font-size: 14px;
	line-height: 14px;
	text-transform: uppercase;
}

.big-map {
	display: none;

	width: 940px;
	min-height: 446px;
	
	top: 100px;
	bottom: 357px;
	left: 50%;
	margin-left: -470px;
}

.product-added-card {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;

	position: fixed;
	top: 40px;
	bottom: 310px;

	z-index: 2;
	
	width: 620px;
	height: 282px;

	border-top: 7px solid #ee3643;
	background-color: #fff;

	left: 50%;
	margin-left: -310px;
}

section.popup-hidden {
	display: none;
}

.product-added-phrase {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;

	min-height: 163px;
	font-size: 30px;
	padding-left: 178px;

	background-image: url(../img/catalog-img/content-images/catalog/decorative-icons/add.svg);
	background-repeat: no-repeat;
	background-position: 80px 48px;
}

.added-buttons-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding: 0 80px;
	
	background-color: #e5e5e5;
	min-height: 112px;
	
	bottom: 0;
}

.added-buttons {
	width: 220px;
	height: 38px;

	font-size: 14px;
	text-transform: uppercase;

	border-radius: 3px;
	margin-right: 20px;
}

.added-buttons:nth-child(2n) {
	margin-right: 0;
}

.do-order-btn {
	line-height: 38px;
	display: block;

	background-color: #ee3643;
	text-align: center;
}

.continue-btn {
	background-color: #fff;
	padding: 0;
}